@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400..800&family=Jua&family=Madimi+One&family=Poetsen+One&display=swap');

:root {
    --clicker-color: #f75218;
    --background: url("img/bg1.png");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
}

#ui {
    z-index: 9999;
    overflow: hidden;
}

#ui #income{
    position: fixed;
    top: 5px;
    /*center*/
    left: 50%;
    transform: translateX(-50%);

    width: 200px;
    height: 70px;
    border: 5px solid var(--clicker-color);
    border-radius: 10px;
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--clicker-color);
    font-family: 'Madimi One', cursive;
    font-size: 20px;
    font-weight: bold;

    box-shadow: 3px 3px 0 #404040;
}

#settings-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    color: var(--clicker-color);
    text-shadow: 2px 2px 0 #404040;
}

#settings-menu {
    position: fixed;
    top: 0;
    right: -303px;
    width: 300px;
    height: 100%;
    background: #333;
    color: white;
    font-size: 20px;
    z-index: 100;
    font-family: 'Madimi One', cursive;
    overflow-y: scroll;
    box-shadow: 0 0 2px 2px #404040;
    transition: right 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

#settings-menu::-webkit-scrollbar {
    width: 10px;
}

#settings-menu::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

.settingsVisible #settings-menu {
    right: 0;
}

#settings-content > div {
    padding: 20px;
    border-bottom: 1px solid #555;
}

#settings-content > div:last-child {
    border-bottom: none;
}

.setting-container.button {
    cursor: pointer;
    transition: background 0.1s;
    text-shadow: 2px 2px 0 #404040;
}

.setting-container.button.warning {
    color: #dd4c4c;
    cursor: pointer;
    transition: background 0.1s;
    text-shadow: 2px 2px 0 #970f0f;
}

.setting-container.button.warning:hover {
    text-decoration: underline;
    background: rgba(255, 0, 0, 0.1);
}

.setting-container.button.warning-settings {
    color: #dd4c4c;
    cursor: pointer;
    transition: background 0.1s;
    text-shadow: 2px 2px 0 #970f0f;
}

.setting-container.button.warning-settings:hover {
    text-decoration: underline;
    background: rgba(255, 0, 0, 0.1);
}


#settings-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    text-shadow: 2px 2px 0 #a3a3a3;
}

#settings-title {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    font-family: 'Madimi One', cursive;
    text-shadow: 2px 2px 0 #a3a3a3;
}

.setting-container {
    display: flex;
    align-items: center;
}

/*color input*/
.setting-container input {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    background: none;
}

#backgrounds{
    display: flex;
    flex-wrap: wrap;
}

.setting-container.radio {
    flex-direction: column;
}

.setting-container.radio input[type="radio"] {
    display: none;
}

.setting-container.radio input[type="radio"] + label img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    image-rendering: pixelated;
    border: 1px solid transparent;
}

.setting-container.radio input[type="radio"]:checked + label img {
    border: 2px solid #f75218;
}

#settings-content > div > input[type="range"] {
    -webkit-appearance: none; /* Entfernt den Standard-Style in Chrome */
    width: 100%;
    height: 15px;
    border-radius: 8px;
    background: #d3d3d3;
    outline: none;
}

#settings-content > div > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Entfernt den Standard-Style in Chrome */
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--clicker-color);
    border-radius: 50%;
    cursor: pointer;
}

#settings-content > div > input[type="range"]:hover::-webkit-slider-thumb {
    background: var(--clicker-color);
}

#settings-content > div > input[type="checkbox"] {
    appearance: none;
    background-color: #d3d3d3;
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: relative;
    outline: none;
    border-radius: 5px;
}

#settings-content > div > input[type="checkbox"]:checked {
    background-color: var(--clicker-color);
}

#settings-content > div > input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 16px;

    border: solid var(--clicker-color);
    filter: brightness(0.5);

    border-width: 0 3px 3px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%) rotate(45deg);
}

.setting-container.range {
    flex-direction: column
}

.setting-container.checkbox {
    justify-content: space-between;
}

.setting-container.color {
    justify-content: space-between;
}

#always-show-timer {
    display: flex;
    align-items: center;
    gap: 10px;
}

#moneyEffectOption {
    display: flex;
    align-items: center;
    gap: 10px;
}

#game {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Set the height to the full viewport height */
}

#scene {
    flex-grow: 1;
    background-image: var(--background);
    background-size: 80px;
    background-repeat: repeat;
    background-position: center;
    image-rendering: pixelated;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    transition: margin-bottom 0.5s;
}

#scene.tabOpen {
    margin-bottom: 240px;
}

#clicker {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 40px;
    color: white;
    cursor: pointer;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    animation: clickerIdle 6s infinite;
    transition: transform 0.1s;
    user-select: none;
    filter: drop-shadow(2px 2px 4px #404040);
    image-rendering: initial;
    background: no-repeat center center;
    background-size: contain;
    height: 400px;
    width: 400px;
}

@keyframes clickerIdle {
    0% {
        transform: scale(1) rotate(0deg);
    }
    25% {
        transform: scale(1.1) rotate(5deg);
    }
    50% {
        transform: scale(1) rotate(0deg);
    }
    75% {
        transform: scale(1.1) rotate(-5deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

#clicker:active {
    animation: clickerKlicked 0.1s infinite;
    transform: scale(0.9);
}

@keyframes clickerKlicked {
    0% {
        transform: rotate(-0.25deg) scale(0.9);
    }
    50% {
        transform: rotate(0.25deg) scale(0.9);
    }
    100% {
        transform: rotate(-0.25deg) scale(0.9);
    }
}

.falling-object{
    color: #1ab61a;
    font-weight: bold;
    font-family: 'Jua', sans-serif;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 99;
    font-size: 3em;
    word-break: keep-all;
    white-space: nowrap;
    background-position: center;
    background-size: cover;
    text-shadow: 3px 3px 2px #303030FF;
    filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, 0.5));
}


.tab {
    height: 285px; /* Set a fixed height for this element */
    position: fixed;
    bottom: -245px;
    transition: bottom 0.5s;
    filter: drop-shadow(2px 2px 0 #404040);
}

.tab.tabVisible {
    bottom: 0;
    z-index: 999;
}

#tabsTitles{
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 100vw;
}

/*disable scrollbar*/
#tabsTitles::-webkit-scrollbar {
    display: none;
}

#tabContents{
    background: white;
}

.tab .title {
    height: 40px;
    padding: 5px 10px;
    border-top: 6px solid var(--clicker-color);
    border-right: 6px solid var(--clicker-color);
    border-left: 6px solid var(--clicker-color);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 20px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--clicker-color);
    text-transform: uppercase;
    font-family: 'Poetsen One', cursive;
    cursor: pointer;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    transition: height 0.25s, margin 0.25s;
}

.tab .title.tabActive {
    height: 50px;
    padding: -10px 0 0;
    margin: -10px 0 0;
}

.tab .title:not(.tabActive) {
    filter: brightness(0.9);
}

.tab .title:hover:not(.tabActive) {
    filter: brightness(0.95);
    height: 42px;
    padding: -2px 0 0;
    margin: -2px 0 0;
}

.tab-content {
    height: 100%;
    width: 100vw;
    overflow-x: scroll;
    border-top: 6px solid var(--clicker-color);
    overflow-y: hidden;
    scrollbar-width: none;
    display: none;
    padding-right: 9px;
}

.tabVisible.tab-content {
    display: flex;
}

.skin,
.upgrade,
#skills .skill {
    flex: 0 0 200px; /* Set a fixed width for each skill */
    border: 5px solid var(--clicker-color);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px;
    border-bottom: 0;
    margin: 5px 5px 0;
    transition: transform 0.05s linear, margin 0.05s linear;
    cursor: pointer;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.skin:hover,
#skills .skill:hover {
    transform: scale(1.025);
    background: #fafafa;
}

#skills .skill.hidden {
    display: none;
}

.skin .skin-name,
.upgrade .upgrade-name,
.skill .skill-name {
    font-family: 'Madimi One', cursive;
    font-size: 20px;
    color: var(--clicker-color);
    text-align: center;
}

.upgrade .upgrade-icon,
.skill .skill-icon {
    height: 100px;
    width: 100%;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(2px 2px 0 #404040);
}

.skill.unexplored .skill-icon {
    filter: grayscale(100%) brightness(0);
}

/*replace text with "Unexplored" in .skill.unexplored .skill-name*/
.skill.unexplored .skill-name {
    display: none;
}

.skill.unexplored .skill-name-unexplored:after {
    content: "???";
    font-family: 'Madimi One', cursive;
    font-size: 20px;
    color: black;
    text-align: center;
    display: block;
}

.upgrade .upgrade-amount,
.skill-amount {
    font-family: 'Madimi One', cursive;
    font-size: 20px;
    color: var(--clicker-color);
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    background: white;
    border: 2px solid var(--clicker-color);
    border-radius: 20%;
    width: 40px;
    height: 30px;
    text-align: center;
    line-height: 26px;
    transform: translate(-25%, -25%);
    box-shadow: 2px 2px 1px 0 var(--clicker-color);
}

.skill-amount:empty {
    display: none;
}

.upgrade .upgrade-price,
.skill-price {
    font-family: 'Madimi One', cursive;
    font-size: 20px;
    color: var(--clicker-color);
    text-align: center;
    font-weight: bold;
    background: white;
    border: 2px solid var(--clicker-color);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    position: relative;
}

.upgrade-description{
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


    font-family: 'Madimi One', cursive;
    font-size: 20px;
    color: var(--clicker-color);
    text-align: center;
    background: white;
    border: 2px solid var(--clicker-color);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;

    width: 170px;
}

.upgrade-description:hover {
    border: 4px solid var(--clicker-color);
    padding: 3px;
}

.skill-timer {
    font-family: 'Madimi One', cursive;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%) translateY(-100%);
    font-size: 20px;
    display: none;

    background: white;
    border: 2px solid var(--clicker-color);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 100px;

    word-break: break-all;

}

.skill-price:hover .skill-timer:not(:empty){
    display: block;
    animation: wiggle 1s infinite linear;
}

.alwaysShowTimer .skill .skill-timer:not(:empty) {
    display: block;
}

@keyframes wiggle {
    0% { transform: translateX(50%) translateY(-100%); }
    25% { transform: translateX(50%) translateY(-90%); }
    50% { transform: translateX(50%) translateY(-100%); }
    75% { transform: translateX(50%) translateY(-110%); }
    100% { transform: translateX(50%) translateY(-100%); }
}

.skill-generate-money-per-second {
    font-family: 'Madimi One', cursive;
    font-size: 20px;
    color: var(--clicker-color);
    text-align: center;
    font-weight: bold;
    background: white;
    border: 2px solid var(--clicker-color);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

@keyframes featherFall {
    0% { transform: translateX(0) rotate(0deg); }
    25% { transform: translateX(20px) rotate(15deg); }
    50% { transform: translateX(0) rotate(0deg); }
    75% { transform: translateX(-20px) rotate(-15deg); }
    100% { transform: translateX(0) rotate(0deg); }
}

.skill.info {
    font-family: 'Madimi One', cursive;
    font-size: 20px;
    color: var(--clicker-color);
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exploredAnimation .skill-icon {
    /*animaton einmal abspielen*/
    animation: explore 0.5s;
    animation-fill-mode: forwards;
}

@keyframes explore {
    0% {
        transform: scale(0);
        filter: grayscale(100%) brightness(0);
    }
    75% {
        transform: scale(1.1);
        filter: grayscale(10%) brightness(0.9);
    }
    100% {
        transform: scale(1);
        filter: grayscale(0) brightness(1);
    }
}

.upgrade:hover {
    transform: scale(1.025);
    background: #fafafa;
}

.rebirth {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Poetsen One', cursive;
    color: var(--clicker-color);
    font-weight: bold;
}

.rebirth-name {
    font-size: 30px;
}

.rebirth-description {
    font-size: 18px;
    text-align: center;
}

.skin-icon {
    height: 190px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(2px 2px 0 #404040);
    margin: 0 auto 10px;
    padding: 5px;
}

.skin.selected {
    border: 10px solid var(--clicker-color);
    border-radius: 15px;
    padding: 0;
}

.skin {
    position: relative;
}

.skin.locked {
    filter: grayscale(25%) brightness(0.75);
}

.skin-required-per-second {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Madimi One', cursive;
    font-size: 20px;
    color: white;
    background: rgba(27, 27, 28, 0.74);
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
}

.skin:not(.locked) .skin-required-per-second {
    display: none;
}

.confirm-button {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 5px solid var(--clicker-color);
    background: white;
    color: var(--clicker-color);
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Madimi One', cursive;
}

.confirm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
}
.confirm-overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 0 3px #404040;

    animation: confirmOverlay 0.5s;
    animation-fill-mode: forwards;
}
.confirm-overlay-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Poetsen One', cursive;
}
.confirm-overlay-text {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Madimi One', cursive;
}
.confirm-overlay-buttons {
    display: flex;
    justify-content: center;
    font-family: 'Madimi One', cursive;
}
.confirm-overlay-yes, .confirm-overlay-no {
    padding: 10px 20px;
    background: var(--clicker-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    box-shadow: 3px 3px 0 1px #404040;
    position: relative;
    overflow: hidden;
}

.confirm-overlay-yes:hover, .confirm-overlay-no:hover {
    filter: brightness(0.9);
}

.confirm-overlay-yes:before, .confirm-overlay-no:before {
    background: rgba(0, 0, 0, 0.045);
    content: '';
    width: 150%;
    height: 100%;
    transform: rotate(-30deg) translate(-15%, -10%);
    position: absolute;
}
@keyframes confirmOverlay {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}