* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    user-drag: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c48d52;
}

#gameCanvas {
    border-radius: 10px;
}

#fruitsRange {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(230, 211, 172, 0.67);
    padding: 5px 5px;
    border-radius: 10px;
    width: clamp(0px, calc(100vw - 50px), 400px);
}

#fruitsRange img {
    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#scores {
    display: flex;
    justify-content: space-between;
    gap: 10px
}

/*wenn bildschirm breit genug*/
@media (min-width: 900px) {
    body {
        flex-direction: row;
    }

    #scores {
        flex-direction: column;
        margin-right: 10px;
    }

    #fruitsRange {
        margin-top: 0;
        flex-direction: column;
        height: 500px;
        width: 50px;
        margin-left: 10px;
    }

    #fruitsRange img {
        width: 40px !important;
        height: 40px;
    }
}