@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400..800&family=Jua&family=Madimi+One&family=Poetsen+One&display=swap');

* {
    user-select: none;
}

body {
    background: url("../img/backgrounds/bg1.png") center;
    background-size: 100px;
    image-rendering: pixelated;
}

.card {
    position: relative;
    width: clamp(100px, 22vw, 200px);
    height: clamp(100px, 22vw, 200px);
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
    animation: cardInAnimation 1s cubic-bezier(0.4, 0.2, 0.2, 1);
}

@keyframes cardInAnimation {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.card .front, .card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.25));
}

.card img {
    width: 85%;
    height: 85%;
    object-fit: contain;
}

.card .back {
    transform: rotateY(180deg);
    background: url("gameImg/cardRueckseite.png") center center no-repeat;
    background-size: cover;
}

.card .front {
    transform: rotateY(0deg);
    background: url("gameImg/cardVorderseite.png") center center no-repeat;
    background-size: cover;
}

.card.open {
    transform: rotateY(180deg);
}

.matched {
    animation: matched 1s cubic-bezier(0.4, 0.2, 0.2, 1);
    animation-fill-mode: forwards;
}

@keyframes matched {
    0% {
        transform: scale(1) rotateY(180deg);
    }
    50% {
        transform: scale(1.1) rotateY(180deg);
    }
    100% {
        transform: scale(1) rotateY(180deg);
    }
}

#cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
    min-height: calc(100vh - 40px);
    padding-right: 40px;
    padding-left: 40px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection-start-screen {
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 99999;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #f0f0f0;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Baloo Tamma 2', cursive;
}

button:hover {
    background: #e0e0e0;
}

label {
    font-size: 20px;
    font-family: 'Baloo Tamma 2', cursive;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Baloo Tamma 2', cursive;
    width: calc(100% - 10px);
}

input:focus {
    outline: none;
    border-color: #333;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 0;
    font-family: 'Baloo Tamma 2', cursive;
}


.ask-menu {
    padding: 20px;
    border-radius: 15px;
    background: #ffffff;
    font-size: 20px;
    font-family: 'Madimi One', cursive;
    display: flex;
    flex-direction: column;
}

.ask-menu-buttons {
    display: flex;
    gap: 10px;
}

.circle {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 200px;
    height: 100px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 40px;
    font-size: 2em;
    font-family: 'Jua', sans-serif;
    animation: circleAnimation 2s cubic-bezier(0.4, 0.2, 0.2, 1);
    z-index: 100;
    opacity: 0;
    text-align: center;
    font-weight: bold;
    line-height: 1.2em;
}

.bot{
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.bot.easy{
    background: #68b668;
    border: 5px solid #5aa95a;
}

.bot.medium{
    background: #f1c40f;
    border: 5px solid #d4b30f;
}

.bot.hard{
    background: #e74c3c;
    border: 5px solid #d93838;
}

.bot.expert{
    background: #8e44ad;
    border: 5px solid #7d3aa0;
}

.player2{
    background: #e04040;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 5px solid #d93838;
}

.player1{
    background: #4090e0;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 5px solid #387fd9;
}

@keyframes circleAnimation {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0);
    }
    20% {
        opacity: 1;
        transform: translate(-50%, 0) scale(1);
    }
    50% {
        opacity: 1;
        transform: translate(-50%, 10%) scale(1.2);
    }
    80% {
        opacity: 1;
        transform: translate(-50%, 0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
}

.thinking{
    position: relative;
}

.thinking:after {
    content: "🤔";
    font-size: 2em;
    animation: thinking 2s infinite cubic-bezier(0.4, 0.2, 0.2, 1);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
}
@keyframes thinking {
    0% {
        transform: translate(-50%, 80%);
    }
    50% {
        transform: translate(-50%, 60%);
    }
    100% {
        transform: translate(-50%, 80%);
    }
}

#punkteTafel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

#punkteTafel > div {
    font-size: 20px;
    font-family: 'Madimi One', cursive;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.25));
}